.form-wrap {
	position: relative;
	display: block;
}

.form {
	display: flex;
	flex-wrap: wrap;
	margin: 50px -20px 80px;
	opacity: 1;
	transform: scale(1);
	transition: all .3s cubic-bezier(0.43, 0, 0.58, 1);

	&--hidden {
		opacity: 0;
		transform: scale(.85);
	}

	&__message {
		position: absolute;
		width: 100%;
		max-width: 400px;
		height: 82px;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 20px 0;
		background: rgba(#fff, .15);
		margin: auto;
		border: 1px solid rgba(#fff, .35);
		border-radius: 5px;
		text-align: center;
		font-size: 16px;
		font-weight: 800;
		line-height: 1.4;
		opacity: 0;
		visibility: hidden;
		transform: scale(.7	5);
		transition: all .3s cubic-bezier(0.43, 0, 0.58, 1);

		&--visible {
			transform: scale(1);
			opacity: 1;
			visibility: visible;
		}
	}

	.submit {
		@extend .btn;
		margin: 40px auto 0;
		border: none;
		outline: none;
		box-shadow: none;
		cursor: pointer;
		transition: transform .12s ease-in-out;

		&:active {
			transform: scale(.98);
		}

		@include tablet {
			margin: 40px 20px 0;
		}
	}
}
