.hero {	
	&__container {
		@extend .container;
		height: inherit;
		padding-top: $nav-width * 1.75;
		padding-bottom: $nav-width * 1.75;
		
		@include tablet {
			// text-align: center;
			padding-top: 60px;
			padding-bottom: $nav-width;
		}
	}

	&__icon {
		width: 30vw;
		max-width: 200px;
		min-width: 175px;
		margin-bottom: 60px;
		
		@include tablet {
			margin-bottom: 80px;
		}
	}

	.scroll {
		position: absolute;
		height: $nav-width;
		right: 0;
		bottom: 10px;
		left: 0;
		margin: auto;
		text-align: center;
		font-size: 12px;
		font-weight: 800;

		&__dots {
			position: relative;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			margin: 15px auto 0;
		}
		&__dot {
			width: 7px;
			height: 7px;
			border-radius: 100%;
			background: #fff;
			margin-bottom: 6px;
			animation: grow 1s cubic-bezier(0.43, 0, 0.58, 1) infinite alternate;
			&:nth-child(2) {
				animation-delay: 0.33s;
			}
			&:nth-child(3) {
				animation-delay: 0.66s;
			}
		}
	}
}