.input {
	flex-basis: 100%;
	max-width: 100%;
	margin: 0 20px 30px;
	padding-top: 20px;
	background: none;
	color: #fff;
	font-size: 16px;
	line-height: 2;
	box-shadow: none;
	outline: none;
	border: none;
	border-bottom: 1.5px solid rgba(#fff, .75);
	transition: border .2s ease-in-out;
	
	&:not(#email) {
		text-transform: capitalize;
	}

	@include tablet {
		flex-basis: calc(50% - 40px);
		max-width: calc(50% - 40px);
	}

	&::placeholder {
		color: #fff;
		opacity: .65;
	}
	
	&:focus {
		border-bottom: 1.5px solid #fff;
	}

	&#name {
		flex-basis: 100%;
		max-width: 100%;	
	}
}

label {
	display: none;
}
