
.menu-trigger {
	position: fixed;
  width: 30px;
  height: 30px;
	top: 25px;
	right: 25px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
	cursor: pointer;
	
	@include tablet {
		position: relative;
		width: 34px;
		height: 34px;
		top: 0;
		right: 0;
		margin: auto;
	}
	
	span {
		display: block;
		position: absolute;
		height: 2px;
		width: 100%;
		background: #919191;
		border-radius: 9px;
		opacity: 1;
		left: 0;
		transform: rotate(0deg);
		transition: .25s ease-in-out;

		&:nth-child(1) {
			top: 0px;
		}

		&:nth-child(2), &:nth-child(3) {
			top: 9px;
		}

		&:nth-child(4) {
			top: 18px;
		}
	}

	.nav--open & span {
		&:nth-child(1) {
			top: 9px;
			width: 0%;
			left: 50%;
		}

		&:nth-child(2) {
			transform: rotate(45deg);
		}
		
		&:nth-child(3) {
			transform: rotate(-45deg);
		}
		
		&:nth-child(4) {
			top: 9px;
			width: 0%;
			left: 50%;
		}
	}
}