.nav {
  position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
  width: 100vw;
  height: $mobile-nav-height;
  top: 0;
  left: 0;
	padding: 0 30px;
	overflow: auto;
  z-index: 2;
	
  @include tablet {
		position: fixed;
    width: $nav-width;
    height: 100vh;
		flex-direction: column;
		justify-content: unset;
		align-items: center;
    padding: 20px 0;
    background: $darker-grey;
  }

  .logo {
    width: 35px;
    color: #fff;

    @include tablet {
      width: 35px;
    }
  }
}

.menu {
  position: fixed;
  width: 0;
  height: 100vh;
  top: 0;
  left: 0;
	background: $darker-grey;
	color: #fff;
	z-index: 1;
	transition: width .5s cubic-bezier(0.43, 0, 0.58, 1);
	transition-delay: .2s;
	
	&--open {
		width: 100vw;
		opacity: 1;
	}

  &__list {
		display: flex;
		width: 100%;
		height: 100%;
    flex-direction: column;
    justify-content: center;
    align-self: center;
		text-align: center;
		opacity: 0;
		transition: opacity .25s cubic-bezier(0.43, 0, 0.58, 1);

		.menu--open & {
			opacity: 1;
		}
	}
	
	&__link {
		padding: 4vh 0;
		font-weight: 800;
		text-transform: uppercase;
		opacity: 0;
		transition: opacity .3s cubic-bezier(0.43, 0, 0.58, 1);
		.menu--open & {
			transition-delay: .6s;
			opacity: 1;
		}
	}
}
