@import "~modern-normalize";
@import 'variables';
@import 'mixins';
@import 'animations';
@import './typography/heading';
@import './typography/text';
@import './components/btn';
@import './components/section';
@import './components/container';
@import './components/row';
@import './components/col';
@import './components/nav';
@import './components/menu-trigger';
@import './components/hero';
@import './components/services';
@import './components/form';
@import './components/input';
@import './components/award';


body {
	font-family: $font-family;
	overflow-x: hidden;
	font-size: 14px;

	@include mobile {
		font-size: 16px;
	}	

	// @include lg-desktop {
	// 	font-size: 18px;
	// }
}

main {
	position: relative;
	width: 100vw;
	min-height: 100vh;

	@include tablet {
		width: calc(100vw - #{$nav-width});
		margin: 0 0 0 $nav-width;
	}
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
	border: none;
	outline: none;
	box-shadow: none;
	cursor: pointer;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style-type: none;
}

.no-scroll {
  overflow: hidden;
}
