@import url('https://fonts.googleapis.com/css?family=Montserrat:300,800&display=swap');

// breakpoints
$mobile-width: 540px;
$tablet-width: 767px;
$desktop-width: 1024px;
$lg-desktop-width: 1200px;

// font
$font-family: 'Montserrat', sans-serif;

// colors
$dark-grey: #2A2A2C;
$darker-grey: #1B1B1D;
$red: #df5049;

// sizes
$mobile-nav-height: 75px;
$nav-width: 85px;


[data-theme="red"] {
	background: $red;
	color: #fff;
}

[data-theme="grey"] {
	background: $dark-grey;
	color: #fff;
}