.heading {
	font-size: 2.488em;
	font-weight: 800;
	line-height: 1.3;
	margin-bottom: 20px;

	@include desktop {
		font-size: 2.88em;
	}

	&--small {
		font-size: 1.4em;

		@include desktop {
			font-size: 1.4em;
		}
	}

	&--large {
		font-size: 2.75em;

		@include desktop {
			font-size: 3.2em;
		}
	}
}

.sub-heading {
	font-size: 1.42em;
	line-height: 1.8;
	margin-bottom: 40px;
}

